.board {

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 90vh;
    width: 90vh;
    background-color: rgb(241, 220, 175);
    margin-left: 3%;
    margin-top: 3%;
    border-style: solid;
    border-width: 1em;
    border-color: rgb(32, 7, 7);

}
 /*coloreaza pana la a 8-a casuta, a 15-a samd ca sa fie alternative,
iar -2n inseamna ca a luat din dreapta tablei de sah, casuta cu nr 2. e cu minus ca e inapoi*/
.board div:nth-child(-2n+8), 
.board div:nth-child(8) ~ div:nth-child(-2n+15), /*al optulea copil si dupa ia fratii lui pana la 15*/
.board div:nth-child(16) ~ div:nth-child(-2n+24), /*luam din 8 in 8 si alternam din par in impar luand valoarea mai mica spre suma lor cu 8: 24 par, 31 impar (in loc de 32), 40 par, 47 impar (in loc de 48)*/
.board div:nth-child(24) ~ div:nth-child(-2n+31),
.board div:nth-child(32) ~ div:nth-child(-2n+40),
.board div:nth-child(40) ~ div:nth-child(-2n+47),
.board div:nth-child(48) ~ div:nth-child(-2n+56),
.board div:nth-child(56) ~ div:nth-child(-2n+63)
{
    background-color: rgb(56, 12, 12);
}
