@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    #homepage {
        background-size: 30%;
    }
}
@media only screen and (min-width: 1024px) {
    body {
        font-size: 20px;
    }
    #homepage {
        background-size: 25%;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden; /*ca sa ascundem 'lastpage', sa nu mai apara in dreapta prin scroll.*/
}
#homepage, #lastpage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#homepage {
    background-color: black;
    color: white;
    background-image: url(https://raw.githubusercontent.com/miezuit/html_css/master/bottega/img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
#homepage h1 {
    font-family: Tenez;
    font-size: 6em;
    margin-bottom: 0.3em;
}
#enter, #back {
    font-family: "futura-pt";
    font-size: 2em;
    cursor: pointer;
}
#back {
    color: white;
}
#lastpage {
    background-color: rgb(205, 92, 92);
    position: absolute;
    top: 0;
    left: 100vw; /* ca sa fie in dreapta paginii*/
    width: 100vw; /*ca sa fie cat latimea ecranului */
}
#photos {
    margin-bottom: 2em;
}

/*animatie pt a veni pe pag 2. 'lastpage'*/
@keyframes slide-in {
    to {
        left: 0;  /*animatia va face ca lastpage sa fie pe pagina principala*/
    }
}
.slide-in {
    animation-name: slide-in;
}
/*animatie pt a veni inapoi pe homepage*/
@keyframes slide-out {
    from {
        left: 0;
    }
    to {
        left: 100vw;
    }
}
.slide-out {
    animation-name: slide-out;
}
/*stilizarea comuna a claselor animatiilor*/
.slide-in, .slide-out {
    animation-duration: 1s;
    animation-fill-mode: forwards;
}