h1 {
    color: chocolate;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}